

<label>Time Range:</label>

<input date-range-picker class="form-control date-picker" type="text" ng-model="date" options="opts" />

<div id="dashboard-container">
<div class="dashboard-camera-list">
  <leaflet event-broadcast="leafletEvents" markers="markers" defaults="defaults" width="100%" height="340px"></leaflet>
  <div class="alert alert-danger" role="alert" ng-show="camerasWithoutLocation.length > 0">
    <h4>The following cameras do not have locations associated with them and will
      not be diplayed:</h4>
    <ul>
      <li ng-repeat="camera in camerasWithoutLocation">
        <a ng-href="#/cameras/{{camera.name}}">{{camera.name}}</a>
      </li>
    </ul>
  </div>
</div>

<div class="dashboard-inspector">

<h2>{{selectedCamera}}</h2>

<activity-bar></activity-bar>

<my-video-player my-src="previewUrl"></my-video-player>
Selected video: {{previewUrl}}<br />

From {{date.startDate | date : 'medium' }} to {{date.endDate | date : 'medium'}}:
<table>
  <tr>
    <td>Videos</td>
    <td>{{dataHash[selectedCamera].videos.length}}</td>
  </tr>
  <tr>
    <td>Messages</td>
    <td>{{dataHash[selectedCamera].messages.length}}</td>
  </tr>
</table>
</div>

</div>

<!--
  {{ messages | json }}
  {{ videos | json }}
  <hr>
  {{ dataHash |json}}
-->
