<div id="log-container">
    <h1>
      Message Log
      <button class="pull-right" ng-click="updateLog()">Update</button>
    </h1>
    <table class="log-master-table">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>ID</th>
                <th>Camera Name</th>
                <th>Message Type</th>
                <th>Message Content</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="message in messages">
                <td>{{fromUnixTime(message.time)}}</td>
                <td>{{message.id}}</td>
                <td>{{message.cam}}</td>
                <td>{{message.type}}</td>
                <td>
                  <div my-object-list data="message.data"></div>
                </td>

            </tr>
        </tbody>
    </table>
</div>
