<div id="log-container">
    <div class="log-filters">

        <my-video-player my-src="previewUrl"></my-video-player>

        <p>
        </p>

        <h4>Filters</h4>
    </div>

    <div class="log-output">
        <tabset>
            <tab heading="Video Log">
                <table>
                    <thead>
                        <tr>
                            <th>Camera Name</th>
                            <th>Video ID</th>
                            <th>Upload Time</th>
                            <th>View Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="video in videos">
                            <td>{{video.cam }}</td>
                            <td>{{video.id}}</td>
                            <td>{{video.uploadTime | date : 'medium'}}</td>
                            <td>
                                <a ng-href="#/video/{{video.cam}}/{{video.id}}">Play Video</a>
                                <button ng-click="previewVideo(video.cam, video.id)">Preview</button>
                                <button ng-click="openVideo(video.cam, video.id)">Play Video</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </tab>
            <tab heading="Message Log">
                <pagination total-items="messagePager.totalItems"
                            items-per-page="messagePager.pageSize"
                            ng-change="mPageChanged()" 
                            ng-model="messagePager.page" 
                            max-size="messagePager.pagerSize" 
                            class="pagination-sm" 
                            boundary-links="true" 
                            rotate="false">
                </pagination>
                <table class="log-master-table">
                    <thead>
                        <tr>
                            <th>Timestamp</th>
                            <th>ID</th>
                            <th>Camera Name</th>
                            <th>Message Type</th>
                            <th>Message Content</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="message in messages">
                            <td>{{message.time | fromUnixTime}}</td>
                            <td>{{message.id}}</td>
                            <td>{{message.cam}}</td>
                            <td>{{message.type}}</td>
                            <td>
                                <div my-object-list data="message.data"></div>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </tab>
            <button class="primary pull-right" ng-click="updateLog()">Update Logs</button>
        </tabset>
    </div>
</div>
