<h1>Video Player</h1>
<h2>{{camName}}/{{id}}</h2>
<p>Download:
    <a ng-href="{{mp4Url}}" download>mp4</a>
    <a ng-href="{{aviUrl}}" download="{{camName}}.{{id}}.avi">avi</a>
</p>
<video width="100%" controls>
    <source ng-src="{{mp4Url | trusted}}" type="video/mp4">
        Your browser does not support the video tag.
</video>


<videogular>
    <video controls>
        <source ng-src="{{mp4Url | trusted}}" type="video/mp4">
            Your browser does not support the video tag.
    </video>





  <vg-controls vg-autohide="config.autoHide" vg-autohide-time="config.autoHideTime" style="height: 50px;">
        <!-- First element from the left -->
        <vg-play-pause-button></vg-play-pause-button>

        <!-- Second element from the left -->
        <vg-scrubBar>
            <vg-scrubbarcurrenttime></vg-scrubbarcurrenttime>
        </vg-scrubBar>

        <!-- Third element from the left -->
        <vg-timeDisplay>{{ currentTime }} / {{ totalTime }}</vg-timeDisplay>

        <!-- Fourth element from the left -->
        <vg-volume>
            <vg-mutebutton></vg-mutebutton>
            <vg-volumebar></vg-volumebar>
        </vg-volume>

        <!-- Fifth element from the left -->
        <vg-fullscreenButton></vg-fullscreenButton>
    </vg-controls>






</videogular>
